<% unless comment.archived? %>

    <div class="comment-card">
        <h3><%= comment.commenter %></h3>
        <p><%= comment.body %></p>
        <%= link_to "Destroy Comment", [comment.article, comment], data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                    } %>
    </div>
<% end %>