<div class="edit-container">
    <div class="flex-center">
        <h1>Edit Article</h1>

        <%= render "form", article: @article %>
    </div>
    <%= link_to "Back to Article", article_path(@article) %></li> 
</div>
