body {
    margin: 0;
    padding: 0;
    background-color: #fff0ce;
    font-family: system-ui, sans-serif;
    color: #333;
}

header {
    background-color: #ff8c00;
    color: white;
    height: 50px;
    padding: 1rem;
    font-size: 1.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);  
}

footer {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #eee;
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;

}

a:hover {
    font-weight: bold;
}

textarea {
    resize: vertical;
}