input,
textarea {
  font-family: 'system-ui', sans-serif;
}

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    padding: 0 1.5rem;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
  }
  
  .comment-form label {
    font-weight: bold;
    margin-bottom: 1rem;

  }
  
  .comment-form input,
  .comment-form textarea,
  .comment-form select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  .comment-form input[type="submit"] {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
    align-self: flex-start;
  }
  
  .comment-form input[type="submit"]:hover {
    background-color: #e65c00;
  }
  